/*=======================================
*            global elements            *
=======================================*/
* {
    box-sizing: border-box;
}

body {
    background: transparent;
    color: #444;
    font-family: 'Fjalla One', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

/*========================================
*            search container            *
========================================*/

#search-container {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
}

/*===========================================
*            searchbar container            *
===========================================*/

#searchbar-container {
    height: 15vh;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbar {
    height: 60px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px currentColor solid;
    border-radius: 2rem;
    width: 25%;
}

#searchbar-input {
    font-size: 2rem;
    padding: 5px 15px;
    height: 100%;
    border: none;
    background: none;
    display: block;
    width: 100%;
    color: currentColor;
}

#searchbar-input:focus {
    outline: none;
}

#searchbar .fas {
}

#searchbar:hover {
    width: 25%;
    transition: all 500ms;
}

#searchbar:hover #searchbar-input{
    display: block;
    width: 100%;
    transition: block 200ms;
    transition-delay: 300ms;
    color: currentColor;
}

#searchbar-input:focus {
    display: block;
    width: 100%;
    transition: block 200ms;
    transition-delay: 300ms;
    color: currentColor;
}

#searchbar:hover .fas {

}

#recent-searches-button {
    padding: 1rem 2rem;
    background: #444;
    color: #eee;
}
/*=======================================
*            title container            *
=======================================*/

#title-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

#title {
    font-size: 8rem;
    text-align: center;
}

#subtitle {
    font-size: 4rem;
    text-align: right;
}

/*======================================
*            date and place            *
======================================*/

#date-place-container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#name, 
#date {
    font-size: 2.5rem;
}

#forecast-button {
    padding: 1rem 2rem;
    background: #444;
    color: #eee;
}


/*=============================================
*               forecast container            *
==============================================*/

/*=====================================
*               animations            *
=====================================*/

canvas {
    background: #0095da;
    /* background: #00496b; */
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* clouds */
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 4;
    background: url("cloud.png");
    background-size: cover;
    animation-name: cloudAnimate;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.clouds2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
    background: url("cloud.png");
    background-size: cover;
    animation-name: cloudAnimate2;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.clouds3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background: url("cloud.png");
    background-size: cover;
    animation-name: cloudAnimate3;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes cloudAnimate {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 5000px;
    }
}
@keyframes cloudAnimate2 {
    0% {
        background-position: 500px;
    }
    100% {
        background-position: 4500px;
    }
}
@keyframes cloudAnimate3 {
    0% {
        background-position: 200px;
    }
    100% {
        background-position: 3000px;
    }
}

/* sun */
.sun {
    height: 200px; 
    width: 200px;
    background: #e6e600;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 2;
    border-radius: 50%;
    box-shadow:
        0 0 0 20px rgb(235, 235, 46),
        0 0 0 40px rgb(230, 230, 97),
        0 0 0 60px rgb(233, 233, 141),
        0 0 20px 60px rgb(226, 226, 115);
    animation: sunshine 2s infinite linear alternate, rays 2s 2s infinite linear alternate;
}

@keyframes sunshine {
    0%{
        box-shadow: none;
    }
}
@keyframes rays {
    0% {
        box-shadow:
        0 0 0 20px rgb(235, 235, 46),
        0 0 0 40px rgb(230, 230, 97),
        0 0 0 60px rgb(233, 233, 141),
        0 0 20px 60px rgb(226, 226, 115);
    }
}

